.photo-grid {
  max-width: 1184px;
}

.photo-grid__images {
  list-style-type: none;
  max-width: 1280px;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.photo-grid__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photo-grid__images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 544px) {
  .photo-grid__images {
    padding: 16px;
    grid-template-columns: 1fr;
  }
}
