.places {
  max-width: 984px;
}
.places__item {
  display: grid;
  grid-template-areas:
    "title artist"
    "image description"
    "image description"
    "button .";
    column-gap: 40px;
    row-gap: 48px;
}
.places__title {
  align-self: self-end;
  grid-area: title;
}
.places__image {
  grid-area: image;
}
.places__button {
 background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
;
  grid-area: button;
}
.places__artist {
  grid-area: artist;
}
.places__content {
}
.places__description {
  grid-area: description;
}
